*{
    margin: 0;
    padding: 0;
}

.col1 h1{ 
    text-align: center;
    padding-top: 15%;
}
.btn{
    padding-left: 20%;
}

.col6 ul{
    color: brown;
}
.col8 ul{
    color: brown;
}
.col9 ul{
    color: brown;
}
.col6 ul li a{
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
}
.col8 ul li a{
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
}
.col9 ul li a{
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
}
/* .footer ul { 
    text-align: center;
    padding: 0% 15% ;
}*/




   @media(max-width: 786px)  { 

    .col img{
        padding-left: 12%;
        width: 300px;
        height: 200px;
    }

    .btn{
        padding-left: 38%;
    }
    .col8{
        padding-left: 8%;
    }

    /* .footer{ 
        
        padding:2% 2% ;
    }*/
    



  }
